// ---------------------------------------------
// ------------ RESSOURCES DIVERSES ------------
// ---------------------------------------------

//J'ai pas trouvé de nom de ouf on trouvera plus tard

//!!---!!
//ATTENTION : NE PAS METTRE DE CSS DANS CETTE FEUILLE, UNIQUEMENT DES VARIABLES ET MIXINS !
//!!---!!

@mixin scrollbarFine($ascenseur: grey,$barre: transparent,$largeur: 5px) {
    scrollbar-width: thin;
    scrollbar-color: #{$ascenseur} #{$barre};

    &::-webkit-scrollbar {
        width: #{$largeur};
        height: #{$largeur};
    }

    &::-webkit-scrollbar-track {
        background: #{$barre};
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #{$ascenseur};
    }
}

// Variables d'animation

$vitesseAnimationLente: .5s;
$vitesseAnimationMoyenne: .3s;
$vitesseAnimationRapide: .15s;

$easingAnimationZinzin: cubic-bezier(0.2, 0.2, 0.38, 0.9);
$easingAnimationChillax: cubic-bezier(0.4, 0.14, 0.3, 1);

