// -----------------------------------------------------
// ----------------------- FONTS -----------------------
// -----------------------------------------------------

//!!---!!
//ATTENTION : NE PAS METTRE DE CSS DANS CETTE FEUILLE, UNIQUEMENT DES VARIABLES ET MIXINS !
//!!---!!

//$Font2020: 'Neurial Grotesk'; Obsolete, elle rendait hyper moche en fait. 
$FontT20: 'Roboto';
$FontNexus : 'nexus_like';

$medium-size-font: 500; //Pour taper medium au lieu de 500 dans les css