
/***********************************/
/***** ice2ImageTabByte *****/
/***********************************/

.backgroundDiv {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}