/*-------------------------------------*/
/*----------ice2ListeSelection-----------*/
/*-------------------------------------*/

@import "couleurs.scss";

.ice2ListeSelection {
    display: flex;
    height: 100%;
    box-sizing: border-box;

    .WPtitreElementDispos, .WPtitreElementSelects {
        justify-content: space-between;
        width: 100%;
        height: 30px;
        margin: 4px !important;
    }

    .WrapGlobal, .WPWrapGlobal {
        width: 100%;
        height: 100%;
    }

    .WPWrapGlobal {
        align-items: stretch;
    }

    .ice2StackPanelMaster, .ice2StackPanel, .ice2StackPanelItem {
        width: 100%;
    }

    .ice2StackPanelMaster, .ice2StackPanel {
        height: 100%;
    }

    .ice2StackPanel {
        display: flex;
        flex-direction: column;
    }

    .WPIContenuGauche {
        border-right: 1px solid $ZeusBorder;
    }

    .WPIContenuGauche, .WPIContenuDroite {
        width: calc(50%);

        .HeaderListe {
            background: $ZeusFondGris;
        }

        .SelectionListe {
            background: $ZeusFondGris;
            border-bottom: 1px solid $ZeusBorder;
            box-sizing: border-box;
            padding-left: 3px;
        }

        .Liste {
            overflow: auto;
            padding: 5px;
            box-sizing: border-box;
        }

        .ContenuLigne {
            &:hover {
                background: $ZeusSelected;
            }

            .WPContenuLigne {
                width: 100%;
                border-bottom: 1px solid #EEE;
                flex-wrap: nowrap;
            }

            .WPIBtnLigne {
                flex: 1 0 auto;
            }

            .ice2ListeDeroulante {
                margin: 0 5px;
            }

            .ligneChoisieDiv {
                display:flex;
                text-align:right;
            }
        }
    }

    .WPIContenuGauche .WPIBtnLigne {
        justify-content: flex-end;
    }

    .WPIContenuDroite .WPIBtnLigne {
        justify-content: flex-start;

        div.tleg {
            display: flex;

            .ice2Label {
                text-align: right;
            }
        }
    }

    .WPIContenuCentre {
        width: 100px;
        border-left: 1px solid $ZeusBorder;
        border-right: 1px solid $ZeusBorder;

        .ice2StackPanel {
            justify-content: center;
        }

        .ice2bouton {
            width: 100%;
            border-left: 0;
            border-right: 0;
        }

        .btnSuppCentre {
            border-top: 0;
        }
    }
}
