/*****************************************/
/***** ice2LabelModifiable Zeus - SCSS *****/
/*****************************************/

.ice2LabelModifiableContainer {
    position: relative;
    display: inline-block;

    input {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        font-family: Verdana;
        z-index: 2;
        min-width: 100px;

        &.Invalide {
            border: solid 2px red;
        }
    }

    &.typeLabel_titre input {
        font-size: 18px;
        font-weight: bold;
    }

    &.typeLabel_soustitre input {
        font-size: 15px;
        font-weight: bold;
    }

    &.typeLabel_description input {
        font-style: italic;
        font-weight: normal;
    }

    &.typeLabel_important input {
        font-weight: bold;
    }

    & > .ice2Label {
        display: inline-block;
        min-width: 100px;
        min-height: 10px;
        box-sizing: border-box;
        padding: 2px;
        border: 1px solid rgba(0,0,0,0);
        z-index: 1;

        &:hover {
            border: 1px solid rgba(0,0,0,0.3);
            cursor: text;
            background: rgba(255,255,255,0.5);
            padding: 2px;

            &:after {
                opacity: 1;
            }
        }
    }

    &.LabelModifiableTime,
    &.LabelModifiableDate {
        .ice2Label, input {
            min-width: unset;
        }
    }

    &.LabelModifiableTime .xInputTime,
    &.LabelModifiableDate .iceInputDate {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > .ice2LabelContainer .ice2LabelContainerItem {
        display: flex;
        align-items: center;
    }

    > .ice2LabelContainer {

        &.maskey {
            opacity: 0;
        }
    }
}