/****************************************/
/***** ice2ListDeroulante Zeus - SCSS *****/
/****************************************/

@import "couleurs.scss";
@import "divers.scss";

.ice2ListeDeroulanteZoneBoxer {
    &.ice2page_body {
        background-color: $ZeusFondGrisFonce;
    }

    .ice2ListItem.selected {
        .ice2bouton {
            background-color: $ZeusSelected;
        }
    }

    .ice2GridItem {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ice2ListeDeroulante {

    &.t20 {
        .xlsd-valeurSelected > .ice2bouton {
            border-radius: 5px;
        }
    }

    &.tleg {
        .ice2ListItem:hover {
            cursor: pointer;
            background-color: $ZeusFondGris;

            .ice2bouton {
                background-color: $ZeusFondGris;
            }
        }
    }

    .xlsd-titre_mobile {
        display: none;
        justify-content: center;

        &.tleg {
            color: $ZeusTexteBleu;
            padding: 10px 0;
            align-items: center;
            font-size: 13px;
            font-weight: bold;
        }

        &.t20 {
            color: $coul-t20-user;
            padding: 10px 15px 0px 50px;
            align-items: flex-end;
            font-size: 15px;
            font-weight: 500;
            box-sizing: border-box;
            border-bottom: 1px solid $coul-t20-user;
            z-index: 2;
            min-height: 50px;

            .ice2LabelContainerTitre {
                padding-bottom: 10px;
                line-height: 1em;
                display: flex;
                flex: 1;
                justify-content: center;
            }
        }
    }

    .xlsd-align_gauche * {
        justify-content: flex-start;
        text-align: left;
    }

    .ice2bouton.sensInverse.espaceMinimaliste span.iconeP12 {
        padding-right: 22px;
        background-position: calc(100% - 5px) 50%;
    }

    .ice2Tooltip_Contenu .itemInListe.tleg {
        border-radius: 5px;
        border: 1px solid $ZeusBorder;
    }

    &.ice2Tooltip_Box {
        .ice2Tooltip_Box_Contenu {
            padding: 0px;
            overflow-y: hidden;
        }

        .ice2ListeDeroulanteStdListeRelativeOrigin {
            display: flex;
            height: 100%;
            overflow-y: hidden;
        }

        .ice2ListeDeroulanteStdListeHoster {
            display: flex;
            height: 100%;
            overflow-y: hidden;
            flex-direction: column;

            .ice2StackPanelMaster, .ice2ListeDeroulanteStdListeRelativeOrigin {
                display: flex;
                height: 100%;
            }

            .ice2ListeDeroulanteStdListeRelativeOrigin {
                overflow-y: hidden;
            }

            .ice2StackPanelMaster {
                overflow-y: auto;
                @include scrollbarFine;
            }

            .ice2StackPanel {
                width: 100%;
                max-height: 300px;
            }

            .ice2ListItem > .ice2bouton span {
                border-radius: 0;
                box-shadow: none;
            }

            .ice2StackPanelItem {
                border-bottom: 1px solid #EEE;

                .ice2bouton {
                    width: 100%;
                    border: none;
                    margin: 0;

                    span.iconeP12 {
                        white-space: nowrap;
                        font-weight: normal;
                        color: black;
                    }
                }

                .ice2BoutonContainer {
                    width: 100%;

                    .ice2BoutonContent {
                        border: none;
                        background: none;
                        margin: 0;
                        width: 100%;
                        justify-content: flex-start;
                        border-radius: 0;

                        &:hover {
                            box-shadow: none;
                        }
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            &.listeAvecScroll {
                .ice2StackPanel {
                    overflow-x: hidden;

                    .ice2bouton {
                        margin-right: 20px;

                        &:not(*:root) {
                            margin-right: 0px;
                        }
                    }
                }
            }

            .ice2ListeDeroulanteEndList {
                background: $ZeusFondGris;

                &.t20 {
                    background: none;
                    margin-top: 20px;
                }

                .ice2bouton, .ice2BoutonContainer, .ice2BoutonContainer .ice2BoutonContent {
                    width: calc(100% - 10px);

                    &.t20 {
                        width: 100%;
                        margin: 0;
                        font-weight: 500;
                    }
                }
            }

            .Boutonu {
                background: white !important;

                .ice2bouton:first-child {
                    border-bottom: 1px solid #eee;
                }

                .btnFinDeListe {
                    margin: 4px;
                    border: 1px solid $ZeusBorder;
                    box-sizing: border-box;
                    width: calc(100% - 8px);
                    display: flex;

                    span {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    &.retourALaLigne {
        .ice2ListeDeroulanteStdListeHoster .ice2StackPanelItem .ice2bouton span.iconeP12 {
            white-space: normal;
        }
    }
}

@media #{$MobileTablette} {
    .t20.ice2ListeDeroulante:not(.xttip-noresponsive) {
        > .ice2ContainerEvent.ice2Tooltip_Box_Event {
            top: unset !important;
            left: unset !important;
            animation: none;
        }

        .ice2ListeDeroulanteStdListeRelativeOrigin {
            position: fixed;
            bottom: calc(-50vh - 20px); // hauteur max du div + 20px pour le box-shadow
            opacity: 0;
            left: 20px;
            width: calc(100vw - 40px);
            height: auto;
            max-height: 50vh;
            display: flex;
            z-index: 10000;
            flex-direction: column;
            background: white;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 0 20px rgba(0,0,0,.2);
            padding: 20px;
            box-sizing: border-box;
            transition: bottom $vitesseAnimationMoyenne $easingAnimationChillax, opacity $vitesseAnimationMoyenne $easingAnimationChillax;


            &.visible {
                bottom: 0;
                opacity: 1;
            }


            .xlsd-titre_mobile {
                display: flex;
                padding: 0;
                min-height: unset;
                border: none;
                font-size: 28px;
                font-weight: 700;
                align-items: center;
                margin-bottom: 20px;

                .ice2LabelContainerTitre {
                    padding: 0;
                    justify-content: left;
                }
            }

            .ice2ListeDeroulanteStdListeHoster {
                overflow: hidden;
                top: 0 !important;
                left: 0 !important;
                width: 100%;
                height: 100%;
                position: relative;
                flex: 1;
                max-height: none;
                z-index: 1;

                .ice2StackPanelMaster {
                    height: 100%;
                    overflow: auto;
                }

                .ice2StackPanel {
                    max-height: 100vh;
                    height: 100%;
                    box-sizing: border-box;
                    border: none;
                }

                .ice2StackPanelItem {
                    border-bottom: none;
                    margin-bottom: 2px;

                    .ice2ListItem {

                        .ice2bouton, .ice2BoutonContent {
                            position: relative;
                            text-align: left;
                            background: $coul-t20-fondgris;
                            padding: 0;
                            border-radius: 5px;

                            span, span.iconeP12 {
                                white-space: normal;
                                padding: 15px;
                                font-size: 15px;
                                height: auto;
                                font-weight: 500;
                                color: $coul-t20-texte;
                            }
                        }
                    }
                }
            }
        }
    }
}


.ice2bouton.xDeprecated.ice2AutoComplete_bouton {
    &:hover {
        border-radius: 0;
    }
}

.ice2bouton.xDeprecated.ice2ListChoix_item {
    &:hover {
        border-radius: 0;
    }
}

