/***********************************/
/***** ice2ZoneRepliable Zeus - SCSS *****/
/***********************************/


.ZoneRepliable {
    .titreZoneRepliable {
        &.tleg {
            background-color: $ZeusFondGris;
        }

        &.t20 {
            background-color: $coul-t20-fondgris;
        }
    }

    .BtnReplier {
        border: none;
        background-color: transparent;
    }

    .BtnReplier span:hover {
        background-color: transparent;
    }

    .WPtitreZoneRepliable {
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #aaa;

        .zoneTitreContenu {
            flex: 1;
            justify-content: left;
        }
    }

    .zoneBtnReplier {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .zoneTitreContenu {
        width: 100%;
    }
}