.ice2InputNumeric {
    .btnMoinsInputNumeric, .btnPlusInputNumeric {
        .ice2BoutonContent {
            width: 20px;
            min-width: 20px;
            border-left: 0;
        }
    }

    .btnMoinsInputNumeric .ice2BoutonContent {
        border-radius: 0;
    }

    .btnPlusInputNumeric .ice2BoutonContent {
        border-radius: 0 3px 0 0;
    }

    .btnFlecheInputNumeric {
        height: 25px;

        &.disabled {
            opacity: 0.50;
        }
    }
}

.inputNumerique.tleg {
    width: 50px;

    &.avecBoutonsPlusMoins {
        border-radius: 3px 0 0 0;
    }
}

