@import "couleurs.scss";

.iceSeparateurAvecFleche {

    .flecheXSeparateur {
        width: 0;
        height: 0;

        &.Droite, &.Gauche {
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

        &.Droite {
            border-left: 10px solid $ZeusBorder;
        }

        &.Gauche {
            border-right: 10px solid $ZeusBorder;
        }

        &.Haut, &.Bas {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
        }

        &.Haut {
            border-bottom: 10px solid $ZeusBorder;
        }

        &.Bas {
            border-top: 10px solid $ZeusBorder;
        }
    }
}
