/***************************************/
/************* iceTimePicker *************/
/***************************************/

@import "medias.scss";

.iceTimePicker {
    background: white;
    width: 250px; /*safety IE*/
    width: min-content;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 3px;

    .EnteteHeure, .EnteteMinute {
        background: #5692ae;
        padding: 4px 2px;
        border-radius: 4px 4px 0px 0px;
        box-sizing: border-box;
        display: flex;
        height: 24px;
        align-items: center;

        .ice2Label {
            color: white;
            padding-left: 3px;
            font-weight: bold;
        }
    }


    .ice2bouton.espaceMinimaliste {
        span.iconeP12.iconeP12_aucun {
            padding: 2px 4px;
        }
    }

    .heureTimePicker, .minuteTimePicker {

        &.Selected {
            .ice2BoutonContent {
                background: $ZeusSelected;
                border-color: $ZeusSelected;
            }
        }

        .ice2BoutonContent {
            width: 100%;
            margin: 0;
            border: 1px solid #d3d3d3;
            background: #eee;
            box-sizing: border-box;
            border-radius:0;

            &.t20 {
                background-color: $coul-t20-bgtheme;
                color: $coul-t20-texte;
                border: 1px solid $coul-t20-border;
            }
        }
    }

    .GridHeures {
        margin-right: 3px;
    }

    &.ice2WrapPanelMaster .ice2WrapPanel {
        flex-wrap: nowrap;
    }

    &.t20 {
        background: $coul-t20-bgtheme;
    }
}

.ToolTipTimePicker {
    .ice2Tooltip_Box_Contenu {
        padding: 0;
        border: 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.16);
    }

    .iceTimePicker {
        @media #{$MobileTablette} {
            width: calc(100% - 8px);

            .ice2WrapPanel.WPxTimePicker {
                flex-wrap: wrap;
                width: 100%;

                .ice2WrapPanelItem {
                    width: 100%;

                    .ice2GridMaster {
                        width: 100%;

                        &.GridHeures {
                            grid-template-columns: repeat(6, 1fr) !important;
                            margin-right: 0px;
                            margin-bottom: 3px;
                        }

                        &.GridMinutes {
                            grid-template-columns: repeat(3, 1fr) !important;
                        }
                    }
                }
            }
        }
    }
}