.xCouleur {
    display: inline-block;
    padding: 0;
    border: 1px solid $EmedBorder;
    width: 130px;
    height: 20px;

    &.couleurClaire {
        width: 128px;
        height: 18px;
    }

    &.styleBulle {
        width: 20px;
        border-radius: 50%;

        &.couleurClaire {
            width: 18px;
        }
    }
}


/*Hack pour le jquery de ses morts*/
.ui-dialog.ui-colorpicker {
    z-index: 2147483647 !important;
}