/**********************************************************/
/******************* xInputTextAvecIcone ******************/
/*********************************************************/

.xInputTextAvecIcone {
    &.positionIconeDebut {
        > .xxGridItem .xInput {
            padding-left: 18px;

            &.xinp-champLarge {
                padding-left: 26px;
            }
        }
    }

    &.positionIconeFin {
        > .xxGridItem .xInput {
            padding-right: 18px;

            &.xinp-champLarge {
                padding-right: 26px;
            }
        }
    }
}