.gridCarrousel {
    height: 100%;

    .button {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .xxDockPanelItem {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .imagePlaieDetails {
        background: $ZeusFondGris;
        border-radius: 10px;

        .xxDockPanelItem {
            padding: 10px;
            aspect-ratio: 4 / 3;
            box-sizing: border-box;

            img {
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
}
