/******************************/
/******* xxChoixCouleur *******/
/******************************/

$largeurxCouleur: 24px;

.xxChoixCouleur {

    &.xxListeDeroulante {

        .xCouleur {
            width: $largeurxCouleur;
            height: $largeurxCouleur;
            border: none;
            border-radius: 5px;
            display: block;

            &.fondClair {
                border: 1px solid $BorderLight;
                width: calc($largeurxCouleur - 2px);
                height: calc($largeurxCouleur - 2px);
            }
        }

        .xxStackPanel.SPxxListPrincipal {
            flex-direction: row;
            gap: 5px;
            flex-wrap: wrap;
            padding: 5px;

            .xxStackPanelItem {
                border: none;

                .xxListItem:hover {
                    background-color: unset;
                }
            }
        }
    }


    &.quatreColonnes {
        .xxStackPanel.SPxxListPrincipal {
            width: calc(4 * $largeurxCouleur + 3 * 5px);
        }
    }

    &.sixColonnes {
        .xxStackPanel.SPxxListPrincipal {
            width: calc(6 * $largeurxCouleur + 5 * 5px);
        }
    }
}