/*********************************************/
/***** xxxCheckbox Emed - SCSS *****/
/*********************************************/

@import 'couleurs.scss';
/*Liste couleurs*/
$buttonColorsList: ( "user" $coul-t20-user, "utilisateur" $coul-t20-user, "alternative" $coul-t20-alt, "alternatif" $coul-t20-alt, "neutral" $coul-t20-texte, "neutre" $coul-t20-texte, "white" #fff, "blanc" #fff, "warning" #f62626, "alerte" #f62626, "valid" #10AC84, "valide" #10AC84 );

.xxCheckboxContainerLabel {
    &.disabled {
        opacity: 0.6;
    }
}

.xxCheckbox {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px;


    .xxCheckboxContainer {
        .xxCheckboxIcone {
            width: 20px;
            height: 20px;
            border: 1px solid $EmedBorder;
            border-radius: 2px;
            box-sizing: border-box;
            background-color: $EmedFondGris;
            position: relative;

            &:after {
                content: " ";
                width: 14px;
                height: 14px;
                background: $icone-vert;
                position: absolute;
                left: 2px;
                top: 2px;
                clip-path: polygon(0 6.33px, 2.66px 3.66px, 2.66px 3.66px, 2.66px 3.66px, 2.66px 3.66px, 0 6.33px);
            }

            &.partiel {
                background-image: url('images/xxCheckBox/checked_partiel.svg?embed');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 10px;

                &:after {
                    display: none;
                }
            }
        }
    }

    &.espaceMinimaliste {
        margin: 0;
    }

    &.xxchecked {
        .xxCheckboxIcone {
            &:after {
                clip-path: polygon(0 6.33px, 2.66px 3.66px, 6px 7px, 11.33px 1.66px, 14px 4.33px, 6px 12.33px);
                box-shadow: 1px 1px 2px #EEE;
            }
        }
    }

    &.xxchecked.animEnCours {
        .xxCheckboxIcone {
            &:after {
                animation: animationChecked .2s forwards;
            }
        }
    }

    &.xxunchecked.animEnCours {
        .xxCheckboxIcone {
            &:after {
                animation: animationUnchecked .2s forwards;
            }
        }
    }




    &.disabled {
        cursor: default;

        .xxCheckboxIcone {
            opacity: 0.6;
            cursor: default;
        }

        .xxbouton, .xxBoutonContainer {
            opacity: 0.6;
            cursor: default;
            filter: saturate(0);
        }
    }

    &.xxSlide {
        align-items: center;
        width: 40px;
        height: 10px;
        padding: 7px 8px;
        border-radius: 100px;
        animation: none;

        .xxCheckboxContainer {
            width: 40px;
            height: 10px;
            border-radius: 10px;
            box-shadow: inset 0px 1px 1px 0px #333;
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#333, Direction=180, Strength=1);

            &.tleg {
                background-color: #777;
                transition: background-color $vitesseAnimationMoyenne $easingAnimationChillax;
            }

            &.isCoche {
                background-color: #3aaa35;
                transition: background-color $vitesseAnimationMoyenne $easingAnimationChillax;

                .xxCheckboxIcone {
                    left: 30px;
                    transition: left .15s cubic-bezier(0.2, 0.2, 0.38, 0.9);
                }
            }

            .xxCheckboxIcone {
                position: relative;
                top: -5px;
                left: 0;
                margin: 0 0 0 -5px;
                width: 20px;
                height: 20px;
                opacity: 1;
                border: 1px solid $EmedBorder;
                border-radius: 100%;
                box-sizing: border-box;
                background-color: #fff;
                transition: left .15s cubic-bezier(0.2, 0.2, 0.38, 0.9);

                &:before {
                    content: '';
                    height: 0%;
                    width: 0%;
                    animation: none;
                }

                &:after {
                    content: '';
                    margin-left: 0%;
                    height: 0%;
                    width: 0%;
                    animation: none;
                }

                &.intermediaire {
                    background-color: #fff;
                    background-size: 20px;
                }
            }
        }

        &.xxchecked.tleg.lm {
            .xxCheckboxIcone:before {
                content: '';
                height: 0%;
                width: 0%;
                animation: none;
            }

            .xxCheckboxIcone:after {
                content: '';
                margin-left: 0%;
                height: 0%;
                width: 0%;
                animation: none;
            }
        }

        &.disabled {
            .xxCheckboxContainer {
                opacity: 0.6;
            }
        }
    }

    &.t20 {
        .xxCheckboxContainer .xxCheckboxIcone {
            border: 1px solid $coul-t20-border;
            background-color: $coul-t20-fondgris;
        }

        &.xxSlide {
            height: auto;
            width: auto;
            margin: 0;
            top: 0;
            border-radius: 0;
            padding: 0;
            vertical-align: middle;

            .xxCheckboxContainer {

                @media #{$Desktop} {
                    --tailleLargeurSlide: 44px;
                }

                @media #{$MobileTablette} {
                    --tailleLargeurSlide: 56px;
                }

                padding: 4px;
                width: var(--tailleLargeurSlide);
                height: calc(var(--tailleLargeurSlide) / 2);
                border-radius: var(--tailleLargeurSlide);
                background-color: $coul-t20-border !important;
                box-shadow: none;
                transition: all $vitesseAnimationRapide $easingAnimationZinzin;

                .xxCheckboxIcone {
                    box-shadow: 0 3px 10px rgba(0,0,0,0.16);
                    background: white;
                    width: 50%;
                    height: 100%;
                    border-radius: var(--tailleLargeurSlide);
                    margin: 0 0 0 0;
                    transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                    border: none;
                    top: 0;
                    left: 0 !important;
                }
            }

            &.xxchecked {
                .xxCheckboxContainer {
                    background-color: $coul-t20-user !important;
                    transition: all $vitesseAnimationRapide $easingAnimationZinzin;

                    .xxCheckboxIcone {
                        background-image: none;
                        margin: 0 0 0 50%;
                        transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                    }
                }
            }
        }
    }

    &.xxImage {
        display: flex;
        align-items: center;
        justify-content: center;

        .xxbouton {
            border: none;
            background-color: transparent;

            span.tleg:hover {
                background-color: rgba(0,0,0,.15);
                box-shadow: 0 0 0 3px rgba(0,0,0,.15);
                border-radius: 3px;
            }
        }

        span.iconeP12 {
            width: auto;
        }
    }

    &.xchb-texte {
        width: auto;
        height: auto;
        margin: 0;

        .xxbouton {
            margin: -1px 0 0 -1px;
        }

        &.xchb-texte_selected {
            .xxBoutonContent {
                position: relative;
                background-color: $EmedSelected;
                border: 1px solid $EmedTexteBleu;
                z-index: 100;
            }
        }
    }

    &.BoutonWapper2-text {
        width: auto;
        height: auto;
        margin: 0;

        &.xxchecked {

            .tleg {
                .xxBoutonContent {
                    background-color: $EmedSelected;
                    border: 1px solid $EmedTexteBleu;
                }
            }

            @each $name, $color in $buttonColorsList {
                .t20 {
                    &.xbtn-sty_flat.xbtn-cou_#{$name},
                    &.xbtn-sty_shadow.xbtn-cou_#{$name} {
                        background: white;
                        color: $color;
                        @include xSVG-Color($color);
                    }

                    &.xbtn-sty_simple.xbtn-cou_#{$name},
                    &.xbtn-sty_flat.xbtn-cou_#{$name},
                    &.xbtn-sty_shadow.xbtn-cou_#{$name} {
                        border: 1px solid $color;
                    }

                    &.xbtn-sty_outlined.xbtn-cou_#{$name} {
                        background: $color;
                        color: white;
                        @include xSVG-Color(white);
                    }
                }
            }
        }
    }
}

@keyframes animationChecked {
    from {
        clip-path: polygon(0 6.33px, 2.66px 3.66px, 2.66px 3.66px, 2.66px 3.66px, 2.66px 3.66px, 0 6.33px);
    }

    33% {
        clip-path: polygon(0 6.33px, 2.66px 3.66px, 6px 7px, 6px 7px, 6px 12.33px, 6px 12.33px);
    }

    to {
        clip-path: polygon(0 6.33px, 2.66px 3.66px, 6px 7px, 11.33px 1.66px, 14px 4.33px, 6px 12.33px);
        animation-timing-function: ease-in-out;
    }
}

@keyframes animationUnchecked {
    from {
        clip-path: polygon(0 6.33px, 2.66px 3.66px, 6px 7px, 11.33px 1.66px, 14px 4.33px, 6px 12.33px);
    }

    33% {
        clip-path: polygon(0 6.33px, 2.66px 3.66px, 6px 7px, 6px 7px, 6px 12.33px, 6px 12.33px);
        animation-timing-function: ease-in-out;
    }

    to {
        clip-path: polygon(0 6.33px, 2.66px 3.66px, 2.66px 3.66px, 2.66px 3.66px, 2.66px 3.66px, 0 6.33px);
    }
}