/***********************************/
/***** xxDockPanel Emed - SCSS *****/
/***********************************/

.xxDockPanelPrincipal {
    display: flex;
    height:100%;
    width:100%;

    .xxDockPanel {
        display: flex;
        flex: 1 1 auto;
        height:100%;

        .xxDockPanelItem{
            padding:6px;
        }

        &.xxDockPanelDernierItem {
            justify-content: center;
            align-items: center;
        }
        &.xxDockPanelDernierItem .xxDockPanelItem {}
    }

    .Direction_haut {flex-direction: column;}
    .Direction_bas {flex-direction: column-reverse;}
    .Direction_gauche {flex-direction: row;}
    .Direction_droite {flex-direction: row-reverse;}
}


