
/*ici je travaille sur des éléments SVG*/

svg.xxGantt {

    .maintenant {
        stroke-width: 4;
        stroke-opacity: 0.7;
        stroke: red;
    }

    .jalon {
        line {
            stroke-width: 12;
            stroke-opacity: 0.3;
            fill: none;
            stroke: purple;
        }

        &.jalonOK {
            line {
                stroke: green;
            }
        }

        &.jalonNonAnalyse {
            line {
                stroke: red;
            }
        }
    }

    .tache {
        &.termine {
            fill: green;
        }
    }

    .textJalon {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
    }

    &.chart {
        font-family: Arial, sans-serif;
        font-size: 12px;
        background-color: $EmedFondGris;
    }

    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    rect.selected {
        stroke: rgba(118, 154, 127, 0.5);
        stroke-width: 6;
    }

    .stop-1 {
        stop-color: #004586;
    }

    .stop-2 {
        stop-color: #FF420E
    }

    .stop-3 {
        stop-color: #FFD320
    }
}
