.xxInputNumeric {
    .btnMoinsInputNumeric, .btnPlusInputNumeric {
        .xxBoutonContent {
            width: 20px;
            min-width: 20px;
            border-left: 0;
        }
    }

    .btnMoinsInputNumeric .xxBoutonContent {
        border-radius: 0;
    }

    .btnPlusInputNumeric .xxBoutonContent {
        border-radius: 0 3px 0 0;
    }

    .btnFlecheInputNumeric {
        height: 25px;

        &.disabled {
            opacity: 0.50;
        }
    }
}

.inputNumerique.tleg {
    width: 50px;

    &.avecBoutonsPlusMoins {
        border-radius: 3px 0 0 0;
    }
}

