.xxInputIntellisense {
    background: white;
    height: 70px;
    width: 200px;
    /*resize: both;*/
    border: 1px solid $EmedBorder;
    background: $EmedBleu;
    box-sizing: border-box;
    /*z-index: 1;*/
    position: relative;
    display:flex;

    &_Tooltip.xxTooltip_Box .xxTooltip_Box_Event {
        box-shadow: 0 3px 3px rgba(0,0,0,0.2);
        margin-top: -5px;

        &:after {
            border: none;
        }

        .xxTooltip_Box_Contenu {
            padding: 0px;

            &:after {
                border: none;
            }

            .suggestionMot {
                padding: 5px;
                border-bottom: 1px solid #eee;

                &:focus, &:hover {
                    background-color: $EmedSelected;
                    outline: none;
                }

                .xxLabel b.surligner {
                    box-shadow: none;
                    animation: none;
                    background: #d3e5ed !important;
                }

                &.freeze:hover {
                    background-color: white;
                }
            }
        }
    }

    .zoneInfo {
        background: url('images/xInput/intellisense_background.svg?embed') no-repeat;
        background-position: -5px calc(100% - 2px);
        background-size: 24px;
        width: 15px;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0px;
        z-index: 2;
    }

    .zoneEditable {
        width: calc(100% - 17px);
        height: 100%;
        padding-left: 2px;
        margin-left: 15px;
        background: white;
        overflow-y: auto;
        flex:1 0 auto;

        &:focus {
            outline-color: $EmedSelected;
        }
    }
}
