/***********************************/
/***** xxLabelContainer Zeus - SCSS *****/
/***********************************/

@import "couleurs.scss";

.xxLabelContainer {
    display: flex;
    align-items: center;
    padding: 2px;

    &.t20 {
        padding: 0;
    }
    /*  Vérifier les possibles surcharges sur ces classes dans d'autres feuilles  
    .xxLabelContainerTitre {
        &.orientation_horizontale {
            margin: 0 8px 0 0;
            text-align: right;
        }

        &.orientation_verticale {
            width: auto;
            margin: 0 0 4px 0;
        }
    }

    &.inverserLabel, &.inverserLabelDom {
        .xxLabelContainerTitre {
            &.orientation_horizontale {
                margin: 0 0 0 8px;
                text-align: left;
            }

            &.orientation_verticale {
                width: auto;
                margin: 4px 0 0 0;
            }
        }
    }*/

    .xxLabelContainerTitre:empty {
        display: none;
    }

    .xxLabelContainerItem {
        display: inline-block;
    }

    &.positionDuContenu_bas,
    &.positionDuContenu_haut {
        flex-direction: column;
    }

    &.positionDuContenu_gauche,
    &.positionDuContenu_droite {
        flex-direction: row;
    }

    &.positionDuContenu_gauche,
    &.positionDuContenu_droite {
        gap: 8px;

        &:not(.largeurLibre) > .xxLabel { //Quand la largeur libre est à false (par défaut), la largeur du label est fixée à 120px
            width: 120px;

            &.t20 {
                width: auto;
            }
        }
    }

    &.positionDuContenu_droite:not(.largeurLibre) > .xxLabel {
        text-align: right;
    }

    &.positionDuContenu_haut,
    &.positionDuContenu_bas {
        gap: 4px;

        & > .xxLabelContainerItem {
            width: 100%;
        }



        &.justificationDuContenu_debut > .xxLabelContainerItem {
            display: flex;
            justify-content: flex-start;
        }

        &.justificationDuContenu_centre > .xxLabelContainerItem {
            display: flex;
            justify-content: center;
        }

        &.justificationDuContenu_fin > .xxLabelContainerItem {
            display: flex;
            justify-content: flex-end;
        }
    }

    &.justificationDuContenu_debut {
        align-items: flex-start;
    }

    &.justificationDuContenu_centre {
        align-items: center;
    }

    &.justificationDuContenu_fin {
        align-items: flex-end;
    }

    &.habillageLabel_disabled {
        opacity: 0.5;
        filter: saturate(0);
    }

    &.habillageLabel_warning, &.habillageLabel_erreur, &.habillageLabel_valide, &.habillageLabel_info, &.habillageLabel_infoImportante {
        padding: 5px 10px;
        border-radius: 3px;

        &.typeLabel_description {
            color: rgba(0,0,0,.6)
        }

        &.typeLabel_information.tleg {
            padding: 10px 5px 10px 32px;
            color: rgba(0,0,0,.6);

            &:after {
                left: 5px;
                top: 5px;
            }
        }
    }

    &.habillageLabel_warning {
        background: #ffabab;
    }

    &.habillageLabel_erreur {
        background: #ffe5ab;
    }

    &.habillageLabel_valide {
        background: #bcddb7;
    }

    &.habillageLabel_info {
        background: $ZeusFondGris;
    }

    &.habillageLabel_infoImportante {
        background: $ZeusFondGris;
        border: 1px solid $ZeusBorder;
        border-left: 3px solid $ZeusBorder;
        border-radius: 0 3px 3px 0;
    }

    &.habillageLabel_loading {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:before {
            content: "";
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-top: 4px solid $ZeusBleu;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            animation: spin 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
            margin-bottom: 10px;
        }

        &:after {
            display: none;
        }
    }



    @each $couleur, $codecouleur in $couleurZeus {

        &.couleurTexte_zeus_#{$couleur} .xxLabelContainerTitre {
            color: $codecouleur;
        }
    }

    @each $couleur, $codecouleur in $couleurT20 {

        &.couleurTexte_t20_#{$couleur} .xxLabelContainerTitre {
            color: $codecouleur;
        }
    }
}