/*-------------------------------------*/
/*----------xxListeSelection-----------*/
/*-------------------------------------*/

@import "couleurs.scss";

.xxListeSelection {
    display: flex;
    height: 100%;
    box-sizing: border-box;

    .WPtitreElementDispos, .WPtitreElementSelects {
        justify-content: space-between;
        width: 100%;
        height: 30px;
        margin: 4px !important;
    }

    .WrapGlobal, .WPWrapGlobal {
        width: 100%;
        height: 100%;
    }

    .WPWrapGlobal {
        align-items: stretch;
    }

    .xxStackPanelMaster, .xxStackPanel, .xxStackPanelItem {
        width: 100%;
    }

    .xxStackPanelMaster, .xxStackPanel {
        height: 100%;
    }

    .xxStackPanel {
        display: flex;
        flex-direction: column;
    }

    .WPIContenuGauche {
        border-right: 1px solid $EmedBorder;
    }

    .WPIContenuGauche, .WPIContenuDroite {
        width: calc(50%);

        .HeaderListe {
            background: $EmedFondGris;
        }

        .SelectionListe {
            background: $EmedFondGris;
            border-bottom: 1px solid $EmedBorder;
            box-sizing: border-box;
            padding-left: 3px;
        }

        .Liste {
            overflow: auto;
            padding: 5px;
            box-sizing: border-box;
        }

        .ContenuLigne {
            &:hover {
                background: $EmedSelected;
            }

            .WPContenuLigne {
                width: 100%;
                border-bottom: 1px solid #EEE;
                flex-wrap: nowrap;
            }

            .WPIBtnLigne {
                flex: 1 0 auto;
            }

            .xxListeDeroulante {
                margin: 0 5px;
            }

            .ligneChoisieDiv {
                display:flex;
                text-align:right;
            }
        }
    }

    .WPIContenuGauche .WPIBtnLigne {
        justify-content: flex-end;
    }

    .WPIContenuDroite .WPIBtnLigne {
        justify-content: flex-start;

        div.tleg {
            display: flex;

            .xxLabel {
                text-align: right;
            }
        }
    }

    .WPIContenuCentre {
        width: 100px;
        border-left: 1px solid $EmedBorder;
        border-right: 1px solid $EmedBorder;

        .xxStackPanel {
            justify-content: center;
        }

        .xxbouton {
            width: 100%;
            border-left: 0;
            border-right: 0;
        }

        .btnSuppCentre {
            border-top: 0;
        }
    }
}
