.xxListPrincipal {
    &.xxStackPanelMaster.IsVide {
        height: 100%;

        .xxStackPanel.SPxxListPrincipal {
            height: 100%;

            .xxStackPanelItem {
                height: 100%;
                display: flex;

                .xxLabel.typeLabel_information {
                    margin: auto;
                }
            }
        }
    }

    .xxListGroupeHeader {
        background: #eeee;
        padding: 3px;
        font-weight: bold;
    }

    .xxListGroupGlobal {
        font-weight: bold;
        text-align: left;
        background-color: #d2d2d2;
        color: #000;

        &.t20 {
            background-color: $coul-t20-fondgris;
        }
    }
}
