/*************************************/
/***** xxPageWrapper Emed - SCSS *****/
/*************************************/

@import "fonts.scss";
@import "couleurs.scss";
@import "medias.scss";

.xxpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    color: black;
}

.xxpage_header {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    width: 100%;
    min-height: 54px;
    align-items: center;
    border-bottom: 1px solid $EmedBorder;
    background-color: $EmedFondGris;
    z-index:2;

    .iconeSeuleCs3i.icone_L,
    .iconeSeuleExterne.icone_L {
        margin: 0 0 0 10px;
        height: 40px;
        width: 40px;
        background-size: 40px;
    }
}

.xxpage_titre {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: $EmedTexteBleu;

    &:empty{
        display:none;
    }
}

.xxpage_body, .xxpage_sousDiv {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.xxpage_body {
    z-index: 1;

    .xxpage_sousDiv & {
        overflow: unset;
        flex: unset;
    }

    &.contenuCentre {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.xpag-body_content {
    padding: 0 20px;
}

.xpag-align_centre {
    justify-content: center;
}

.xpag-align_droite {
    justify-content: flex-end;
}

.xpag-align_gauche {
    justify-content: flex-start;
}

.xxpage_footer {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    width: 100%;
    min-height: 54px;
    align-items: center;
    padding: 0 3px;
    box-sizing: border-box;
}

.xxpage_preheader {
}



.xxpage_bandeau_alerte {
    width: 100%;
    justify-content: center;
    background: #ffdea4;
    max-height: 0px;
    transition: all $vitesseAnimationLente $easingAnimationZinzin;
    overflow: hidden;

    .xxWrapPanelItem {
        padding-right: 10px;

        &:last-child {
            padding: 0;
        }
    }

    &.openBandeau {
        transition: all $vitesseAnimationLente $easingAnimationZinzin;
        max-height: 80px;
    }
}

.divMiseEnAttente {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100000000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9);
}

.tleg {

    &.xxpage {
    }

    &.xxpage_footer {
        border-top: 1px solid $EmedBorder;
        background-color: $EmedFondGris;
    }
}

.t20 {

    &.xxpage {
        font-family: #{$FontT20};
        color: $coul-t20-texte;
    }

    &.xxpage_header {
        padding: 10px;
        min-height: unset;
        border-bottom: none;
        background-color: transparent;
        box-sizing: border-box;

        &.xpag-header_avecombre {
            padding: 24px 15px 20px 45px;
            box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16);
        }
    }

    &.xxpage_titre {
        font-size: 28px;
        color: $coul-t20-texte;
        margin: 0;
    }

    &.xxpage_footer {
        min-height: unset;
        border-bottom: none;
    }
}