/***********************************/
/***** xxRouteContainer Emed - SCSS *****/
/***********************************/

/* ----- VARIABLES & MIXINS ------ */

$HNavPc: 45px;
$HNavMobile: 60px;
$HBandeau:24px;
$GrisRouteContainer: #808080;
$dossier: "dossier";
$LMenu: 220px;

@import "couleurs.scss";
@import "medias.scss";
@import "fonts.scss";
@import "divers.scss";

.xxRouteContainer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    .WPxxRouteContainer {
        width: 100%;
    }

    .RC_BoutonMenu {
        position: absolute;
        z-index: 298;
        cursor: pointer;

        .xsvg-elem_stroked {
            stroke: $coul-t20-user;
        }

        @media #{$Desktop} {
            width: 40px;
            height: 40px;
            top: 0px;
            left: 0px;
            justify-content: flex-start !important;
        }

        @media #{$MobileTablette} {
            margin: 14.5px 0 0 14.5px;
        }

        .xxContainerEvent {
            background: $coul-t20-bgtheme;

            @media #{$MobileTablette} {
                border-radius: 50%;
                width: 35px;
                height: 35px;

                .xSVG {
                    padding: 10px;
                }
            }

            @media #{$Desktop} {
                height: 40px;

                .xSVG {
                    padding: 12.5px;
                }
            }
        }
    }

    .RC_Menu {
        background: $coul-t20-bgtheme;
        z-index: 300;
        height: 100%;
        box-sizing: border-box;
        transition: all $vitesseAnimationRapide $easingAnimationZinzin;
        flex: 0 0 auto;

        @media #{$MobileTablette} {
            width: 310px;
            position: fixed;
            top: 0;
            left: -310px;
            box-shadow: 1200px 0 0 1200px rgba(0,0,0,0);
        }

        @media #{$Desktop} {
            width: $LMenu;
            box-shadow: 2px 0 0 var(--coul-t20-border);
        }

        .RC_Menu-elem, .SPRC_Menu-elem {
            width: 100%;
            height: 100%;
        }

        .RC_MenuHeader {

            .iconePunaise {
                opacity: 1;

                @media #{$MobileTablette} {
                    display: none !important;
                }
            }

            .xxContainerEvent {
                margin: 14.5px 0 0 14.5px;
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                @media #{$Desktop} {
                    margin: 3px;
                }
            }
        }

        .RC_MenuNav {
            flex-grow: 1;
            padding: 0 0px 30px;
            overflow-y: auto;

            @include scrollbarFine;

            .RC_MenuNavList {
                padding: 20px 0;

                .xxLabel {
                    font-size: 19px;
                    font-weight: bold;
                    padding: 15px 30px;
                    display: flex;
                    cursor: pointer;

                    @media #{$Desktop} {
                        font-size: 15px;
                        font-weight: $medium-size-font;
                        padding: 10px 30px;
                    }
                }

                .champRechercheMenu {
                    height: 30px;
                    width: calc(100% - 60px);
                    margin-left: 30px;
                    margin-bottom: 15px;
                    padding: 10px;

                    @media #{$Desktop} {
                        margin-left: 20px;
                        width: calc(100% - 40px);
                    }
                }
            }

            .cheminActif {
                .xxLabel {
                    transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                }

                &.lienActif {
                    position: relative;

                    .xxLabel {
                        color: white;
                        transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                    }
                }
            }

            .SousListeMenu {
                margin-left: 15px;

                .xxLabel {
                    border-left: 1px solid;
                    font-size: 15px;
                    padding: 10px 10px 10px 15px;
                    font-weight: $medium-size-font;
                }

                .SousListeMenu {
                    .xxLabel {
                        font-size: 13px;
                        padding: 10px 35px 10px 10px;
                    }
                }
            }
        }

        .RC_MenuNavCustom {
            padding: 30px;
            border-top: 3px solid;

            .xxLabel {
                font-size: 15px;
                font-weight: $medium-size-font;
            }

            &.tleg {
                border-top: 1px solid $EmedBorder;
            }
        }
    }

    .RC_MenuTools {
        height: 40px;

        .xxbouton {
            background-color: transparent;
        }

        .RC_MenuTools-wrap {
            height: 100%;
        }

        .WPRC_MenuTools-wrap {
            width: 100%;
        }

        @media #{$Desktop} {
            position: absolute;
            top: 0;
            left: $LMenu;
            width: calc(100vw - #{$LMenu} - 3px);
            transition: all $vitesseAnimationRapide $easingAnimationZinzin;
            border-left: 3px solid rgba(0,0,0,0.04);

            .dm & {
                border-left: 3px solid $coul-t20-border;
            }

            .RC_MenuTools-wrap.itemsLargeurEgale .xxWrapPanel .xxWrapPanelItem {
                flex: 0 0 auto;
            }
        }

        .RC_MenuToolsFil {
            .xxContainerEvent {
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 15px;
                cursor: pointer;

                &:before {
                    content: " / ";
                    font-weight: bold;
                    color: $coul-t20-textelight;
                    padding: 0 4px 0 3px;
                }
            }

            .xxWrapPanelItem.hiddenOnMobile {
                @media #{$MobileTablette} {
                    display: none;
                }
            }
        }
    }

    .RC_MenuSecondaire-elem {
        box-sizing: border-box;
        height: 100vh;
        transition: all $vitesseAnimationRapide $easingAnimationZinzin;
        background: $coul-t20-bgtheme;
        color: white;
        position: fixed;
        overflow: auto;
        border-left: 5px solid;

        @include scrollbarFine;

        &.xdisabled {
            transition: 0s;
            display: block !important;
        }

        @media #{$Desktop} {
            z-index: 299;
            width: 380px;
            left: $LMenu;
            transition: all $vitesseAnimationRapide $easingAnimationZinzin;
            margin-top: 40px;
            height: calc(100% - 40px);
            box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.08);

            .dm & {
                box-shadow: 2px 0 0 var(--coul-t20-border);
            }

            &.xdisabled {
                left: -380px;
                transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                box-shadow: 0px 0 0px rgba(0,0,0,0);
            }
        }

        @media #{$MobileTablette} {
            right: -95vw;
            z-index: 301;
            width: 95vw;
        }

        .OptionsMenuSecondaire {
            padding-top: 10px;

            .xxDockPanel {
                align-items: center;
            }
        }

        .xxbouton {
            width: 100%;
            border: none;
            margin: 0;
            outline: none;
            background-color: transparent;

            span.iconeCs3i_aucun {
                text-align: left;
                padding: 10px 10px 10px 30px;
                font-size: 16px;
                position: relative;

                &:after {
                    position: absolute;
                    height: 4px;
                    bottom: 0px;
                    left: 30px;
                    content: '';
                    transition: width $vitesseAnimationRapide $easingAnimationZinzin;
                    width: 0px;
                }

                &:hover {
                    background: transparent;
                    transition: 0s;
                    color: inherit;

                    &:after {
                        transition: width $vitesseAnimationRapide $easingAnimationZinzin;
                        width: 40px;
                    }
                }
            }
        }

        .xxTableau {
            @media #{$MobileTablette} {

                &#TableClientCustom .xxTableauItem td {
                    margin: 4px 50px;
                    padding: 15px;
                    background: $coul-t20-bgtheme;
                    box-shadow: 6px 2px 10px rgba(0, 0, 0, 0.3);
                    width: calc(100% - 100px);
                    font-size: 15px;
                    text-align: left;
                    border-right: 0px;
                }

                td {

                    .xxDockPanelPrincipal {
                        margin: 2px;
                        padding: 10px;
                        background: $coul-t20-bgtheme;
                        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
                        width: calc(100% - 4px);
                    }

                    .xxLabelModifiableContainer {
                        margin: 4px 50px;
                        padding: 15px;
                        background: $coul-t20-bgtheme;
                        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
                        width: calc(100% - 100px);
                        font-size: 15px;
                        text-align: left;
                    }

                    &.xxTableauGroup {
                        .xxDockPanelPrincipal {
                            margin: 0;
                            padding: 0;
                            background: inherit;
                            box-shadow: none;
                            width: inherit;
                        }
                    }
                }

                .typeLabel_titre {
                    padding: 0
                }
            }
        }

        .RechercheMenuSec {
            .xxLabelContainer {
                margin: 0 20px;
            }

            input {
                margin: 10px 0;
                width: calc(100% - 40px);
                height: 40px;
                align-items: center;
                display: flex;
            }
        }
    }

    .RC_ZoneFermerMenu .xxContainerEvent {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 297;
        display: none;
    }

    .RC_ZoneContenu {
        flex: 1;
        z-index: 1;

        .RC_ZoneContenu-elem, .ContainerPage {
            width: 100%;
            height: 100%;
        }

        @media #{$Desktop} {
            margin-top: 40px;
            width: calc(100% - $LMenu);
            overflow: auto;
        }
    }

    .ContainerPage {
        display: flex;

        & > div {
            flex: 1;
        }

        & > .xxpage {
            & > .t20.xxpage_preheader:empty {
                @media #{$Desktop} {
                    display: none;
                }

                @media #{$MobileTablette} {
                    height: 60px;
                }
            }
        }
    }
    /*---- SELECTION EN COURS -------*/
    &.selectionEnCours {
        @media #{$MobileTablette} {
            .RC_Menu {
                transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                left: 0;
                box-shadow: 1200px 0 0 1200px rgba(0,0,0,0.58);

                .lienActif .xxLabel {
                    border-left: 0;
                }
            }

            .RC_MenuSecondaire-elem {
                right: 0px;
                transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                box-shadow: -80px 0 0 rgba(0,0,0,0.2);

                &.xdisabled {
                    right: -95vw;
                    transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                    box-shadow: 0px 0 0 rgba(0,0,0,0.2);
                }
            }

            .RC_ZoneFermerMenu .xxContainerEvent {
                display: block;
            }
        }
    }
    /*---- MENU ORDI FERME -------*/
    &.noDesktopMenu {
        @media #{$Desktop} {
            .RC_Menu {
                margin-left: -$LMenu;
                transition: all $vitesseAnimationRapide $easingAnimationZinzin;
            }

            .RC_MenuTools {
                left: 40px;
                width: calc(100% - 40px);
                transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                border-left-width: 0px;
            }

            .RC_MenuSecondaire-elem {
                left: 0px;

                &.xdisabled {
                    left: -380px;
                    transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                    box-shadow: 0px 0 0px rgba(0,0,0,0);
                }
            }

            .RC_ZoneContenu {
                width: 100%;
            }
        }
    }
    /*--- MENU FIXED (PINS) ---*/
    &.menuDeFixed {
        @media #{$Desktop} {
            .RC_Menu {
                position: fixed;

                .iDeFixed {
                    opacity: .3;
                }
            }

            .RC_MenuTools {
                left: $LMenu;
                width: calc(100vw - $LMenu);
            }

            &.noDesktopMenu {
                .RC_MenuTools {
                    margin-left: $LMenu;
                    left: 40px;
                    width: calc(100vw - 40px);
                }

                .RC_MenuSecondaire-elem {
                    box-shadow: 2000px 0 0px 1960px rgba(0,0,0,0);
                }
            }

            &:not(.noDesktopMenu) {
                .RC_ZoneFermerMenu .xxContainerEvent {
                    display: block;
                }

                .RC_MenuSecondaire-elem {
                    box-shadow: 2000px 0 0px 1780px rgba(0,0,0,0.3);
                }
            }
        }
    }
    /* STYLE THEME 2020*/
    .t20 {

        &.RC_MenuNavList .xxLabel:hover, &.cheminActif .xxLabel, &.lienActif {
            color: $coul-t20-user;
        }

        &.lienActif .xxLabel, &.xxbouton span.iconeCs3i_aucun:after {
            background: $coul-t20-user;
        }

        &.SousListeMenu .SousListeMenu .xxLabel, &.RC_MenuNavCustom {
            border-color: $coul-t20-border;
        }

        &.RC_MenuTools {
            background: $coul-t20-fondgris;
        }

        &.RC_MenuSecondaire-elem {
            border-color: $coul-t20-user;
        }

        @media #{$MobileTablette} {
            &.RC_Menu .lienActif .xxLabel {
                box-shadow: -150px 0 0 $coul-t20-user;
            }
        }
    }
} 