// -----------------------------------------------------
// ------------ SPECIFICATION CRENEAUX ------------
// -----------------------------------------------------

.xxSpecificationCreneaux {

    .xxpage_body {

        .coupleChoixDate {
            margin: 0 0 10px;
        }

        .wrapSemaine {
            margin: 0 0 20px;
        }

        .xxLabelContainer .xxLabel.orientation_horizontale {
            margin: 0 8px 0 0;
        }

        .xxWrapPanelMaster .xxWrapPanel {
            padding: 0
        }

        .xxLabelContainer .xxLabel.orientation_verticale {
            width: 100%;
        }

        .wrapSemaine {
            width: 100%;

            .xxbouton.habillage_modeStd {
                margin: 0 8px 0 0;
            }
        }
    }

}


.xxBoxerContainer:not(.BoxerLocal).xxBoxerDisplayStandard.Boxer_Fit.xxSpecificationCreneaux .xxBoxer .xxpage_body {
    padding: 20px;
}