
/***********************************/
/***** xxStackPanel Zeus - SCSS *****/
/***********************************/

.xxStackPanelMaster {
    &.espaceMinimaliste {
        padding: 0;
        margin: 0;
    }

    &.t20, &.tdef, &.tleg {
        &, & .xxStackPanel {
            display: flex;
            flex-direction: column;
            gap: inherit;
        }
    }

    &.fullLargeur {
        &, .xxStackPanel {
            width: 100%;
        }
    }
}

/* A faire plus tard (car impact important)
.t20 {
    &.xxStackPanelMaster,
    &.xxStackPanel {
        display: flex;
    }

    &.xxStackPanelMaster,
    &.xxStackPanel {
        flex-direction: column;
    }

    &.xxStackPanel,
    &.xxStackPanelItem {
        width: 100%;
    }
}*/