/*********************************/
/***** xxTableau Emed - SCSS *****/
/*********************************/

@import "couleurs.scss";

@mixin FlecheBlanche {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    content: "";
    right: 5px;
    top: calc(50% - 2px);
    position: absolute;
}

//Mouvement au hover des flèches des th
@keyframes Arrow {
    0% {
        top: calc(50% - 2px);
    }

    30% {
        top: calc(50% - 4px);
    }

    70% {
        top: calc(50% + 2px);
    }

    100% {
        top: calc(50% - 2px);
    }
}

//Loading


.xxTableauDivPrincipal {
    height: 100%;
    display: flex;
    flex-direction: column;

    &.AvecMarge {
        margin: 10px;
        border-radius: 5px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    }

    .xxDockPanelItem {
        display: flex;
        align-items: center;
    }

    .habillage_modeMiniSansTexte {
        margin-top: 0;
        margin-bottom: 0;
    }

    .WrapOptionsOrdre {
        .habillage_modeMiniSansTexte {
            margin: 0px;

            .iconeP12 {
                width: 20px;
                height: 20px;
            }
        }
    }

    &.NoDataWithoutHeader {
        .xxTableauTools, .fixed_headers, .xxTableauHeader {
            display: none;
        }
    }
}

.xxTableau {
    color: #000;
    width: 100%;
    border-spacing: 0;
    border-bottom: 1px solid $EmedBorder;

    .xxTableauHeader {
        user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: -moz-none;

        .xxWrapPanel {
            display: flex;
            padding: 0;
            border: none;
            background-color: transparent;

            .xxWrapPanelItem {
                flex: 1 1 auto;

                &.noFlexWrapItem {
                    flex: 0 0 auto;

                    .xxbouton {
                        display: block;
                    }
                }
            }
        }

        td, th {
            padding: 5px;
            background-color: $EmedBleu;
            color: #fff;
        }

        td .xxbouton {
            span:hover {
                background-color: rgba(255,255,255,0.3);
                transition: background-color 0s $easingAnimationZinzin;
            }

            .iconeP12 {
                font-weight: bold;
                color: #fff;
                font-size: 12px;
                background-size: 18px;

                &.t20 {
                    font-weight: 500;
                }
            }

            &.habillage_modeSansTexte .iconeP12 {
                background-size: 14px;
            }
        }

        th {
            font-weight: normal;
            border-right: 1px solid $BorderLight;

            &.fixed_headers {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                z-index: 105;
            }

            .xxLabel {
                color: white;
                font-weight: bold;
                min-height: 20px;
                align-items: center;
                display: flex;
                padding-top: 2px;
                padding-bottom: 2px;

                &.t20 {
                    font-weight: 500;
                    padding: 2px;
                }
            }

            .xxBoutonContainer.titreColonne .xxBoutonContent:hover {
                background-color: transparent;
                box-shadow: none;
            }
        }

        .xxbouton.titreColonne, .xxbouton {
            width: 100%;
            margin: 0;
            background-color: transparent;
            border: none;

            span {
                font-weight: bold;
                color: #fff;

                &:hover {
                    background-color: rgba(255,255,255,0.3);
                }

                &.iconeP12 {
                    padding: 9px 10px 9px 38px;
                    font-weight: bold;
                    color: #fff;

                    &.t20 {
                        font-weight: 500;
                    }
                }

                &.iconeP12_aucun {
                    padding: 8px;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }

            &.habillage_modeSansTexte .iconeP12 {
                padding: 18px;
            }

            &.habillage_modeMiniSansTexte .iconeP12 {
                padding: inherit;
            }
        }

        .xxAutoComplete {

            &.tleg {
                width: 200px;
                text-align: left;
                margin: 4px;

                &:after {
                    @include FlecheBlanche;
                    right: 2px;
                }

                &:before {
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: white;
                    bottom: 0;
                    left: 0;
                    content: "";
                }

                &:hover {
                    background: rgba(255,255,255,0.4);

                    &:after {
                        animation: Arrow 1.5s ease-in-out infinite;
                    }
                }

                .xxAutoComplete_input {
                    position: relative;
                    background: transparent;
                    border: none;
                    color: white;
                    width: 185px;
                    padding: 0;
                    margin: 0px 0 3px 0;

                    &::placeholder {
                        color: rgba(255,255,255,.8);
                    }
                }
            }

            &.t20 {
                /*.xInputTextAvecIcone {
                    > .xxGridItem:first-child {
                        align-items: center;
                    }
                }


                svg {
                    .xsvg-elem_filled {
                        fill: #FFF;
                    }

                    .xsvg-elem_stroked {
                        stroke: #FFF;
                    }
                }

                .xxAutoComplete_input {
                    position: relative;
                    background: transparent;
                    border: none;
                    color: white;
                    width: 185px;
                    padding: 0;
                    margin: 0px 0 3px 0;


                    &::placeholder {
                        color: rgba(255,255,255,.8);
                    }
                }*/
            }
        }

        .xxListeDeroulante {
            .SPxxListeDeroulante {
                & > .xxStackPanelItem {
                    & > div {
                        & > .xxbouton {
                            span.iconeP12_aucun {
                                padding: 4px 20px 4px 8px;
                                margin: 0;
                                position: relative;

                                &:after {
                                    @include FlecheBlanche;
                                }

                                &:hover {
                                    background: rgba(255,255,255,0.4);

                                    &:after {
                                        animation: Arrow 1.5s ease-in-out infinite;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .tleg & {
        .xxTableauItem:nth-child(even) {
            background-color: $EmedFondGris;
        }

        .xxTableauItem:hover {
            background-color: $EmedSelected;
            transition: background-color 0s $easingAnimationZinzin;
        }

        .xxTableauItem.ligneSelectionnee, .xxTableauItem.ligneSelectionnee td {
            background-color: $EmedSelected;
        }

        th,
        td {
            border-right: 1px solid $BorderLight;
            text-align: center;
        }
    }

    .tleg.xxTableau_avecLignesDepliables & {
        tr:nth-of-type(4n+2), tr:nth-of-type(4n+3) {
            background-color: $EmedFondGris;
        }

        tr:nth-of-type(4n+4), tr:nth-of-type(4n+5) {
            background-color: white;
        }
    }

    td.xxTableauGroup {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        background-color: #d2d2d2;
        color: #000;
        padding: 4px 8px;

        &.t20 {
            background-color: $coul-t20-fondgris;
        }
    }

    th,
    td {
        padding: 4px;
    }

    .xxTableauItem {
        transition: background-color 0s $easingAnimationZinzin;
        background-color: $coul-t20-bgtheme;
        /*&.selected {
            td {
                background: $EmedSelected;
            }
        }*/
        &.cliquable:hover {
            cursor: pointer;
        }

        td {
            /* SOLUTION de HOVER COLONNE : à explorer par la suite
                position:relative;
            
            &:hover::after {
                content: "";
                position: absolute;
                background-color: rgba(139,225,180,0.3);
                left: 0;
                top: -5000px;
                height: 10000px;
                width: 100%;
                z-index:-1;
            }*/
        }
    }

    .t20 & {
        color: $coul-t20-texte;

        th {
            background-color: $coul-t20-user;
        }

        th,
        td {
            border-bottom: 1px solid $coul-t20-border;
        }

        .xxTableauItem:hover {
            box-shadow: 2px 0 $coul-t20-user inset;
            transition: background-color 0s $easingAnimationZinzin;
        }

        th {

            .xxWrapPanelItem {
                justify-content: flex-start;
            }

            .titreColonne {
                text-align: left;
            }
        }
    }

    &.premiereColonneFixe {

        .xxTableauItem {
            td:first-child {
                position: sticky;
                left: 0;
                background-color: white;
                z-index: 200;
            }
        }

        .xxTableauHeader {
            th:first-child {
                position: sticky;
                left: 0;
                z-index: 201;
            }
        }
    }
}

.tleg {
    .xxTableau {

        &.premiereColonneFixe {

            .xxTableauItem:nth-child(even) {
                td:first-child {
                    background-color: $EmedFondGris;
                }
            }            
        }
    }
}

    .xxTableauTools {
        display: flex;
        height: auto;
        background: $EmedFondGris;
        flex-shrink: 0;

        &.t20 {
            background: transparent;
        }

        &.maskey {
            display: none !important;
        }

        .xxLabelContainer {
            padding: 4px;

            .xxLabel {

                &.orientation_horizontale {
                    width: auto;
                }
            }

            &.xtbl-zone_recherche {
                padding: 1px;

                .RechercheLarge {
                    width: auto;
                }
            }
        }

        .xxTableau-LC_title {
            padding: 0;

            .xxLabelContainerTitre {
                margin-left: 7px;
                padding-left: 0;
            }

            .xxLabelContainerItem {
                margin-left: 7px;
            }
        }

        .compteurElements {
            font-style: italic;
        }

        .xxDockPanel {
            display: flex;
            align-items: center;

            div.xxDockPanelItem {
                padding: 0;
            }
        }
    }



    .xxTableauToolsLeft {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
    }

    .xxTableauToolsRight {
        display: flex;

        .saisie {
            height: 30px;
        }
    }

    .blockSearch {
        display: flex;
        align-items: center;
        margin: 8px;

        .label {
            margin: 0 8px 0 0;
        }
    }

    .xxTableauPreHeader {
        display: flex;
    }
    /*
.fixed_headers {
  table-layout: fixed;
  border-collapse: collapse;
}
*/
    .footerTableau {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 0;
        box-shadow: 0 1px $EmedBorder inset;
        background: $EmedFondGris;
        border-radius: 0 0 5px 5px;
    }

    .divCentreNoData, .divCentreDataLoading {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        .xxLabel {
            font-size: 19px;
            color: #999;

            &:after {
                top: 0;
                border-color: #999;
            }
        }
    }

    .divCentreDataLoading {
        display: none;

        .LoadingMode & {
            display: flex;
        }
    }

    .divCentreNoData {
        display: none;

        .NoDataWithHeader &, .NoDataWithoutHeader & {
            display: flex;
        }

        .LoadingMode.NoDataWithHeader &, .LoadingMode.NoDataWithoutHeader & {
            display: none;
        }

        .xxGridMaster#zoneNoContent {
            justify-content: center;
            grid-gap: 0;

            .GI_message {
                align-self: flex-end;
            }

        .xxbouton.habillage_modeStd {
            border: 3px solid $EmedBleu;
            color: $EmedBleu;
            border-radius: 5px;
            font-size: 17px;
            transition: all $vitesseAnimationRapide $easingAnimationZinzin;

                &:hover {
                    box-shadow: -5px 5px 0 rgba(0,0,0,0.2);
                    transition: all 0.05s ease-in;
                    transform: translate(5px,-5px);

                span.iconeP12 {
                    background-color: $EmedBleu !important;
                    transition: all $vitesseAnimationRapide $easingAnimationZinzin;
                    color: white;
                }
            }

            span.iconeP12 {
                padding: 14px 14px 14px 47px;
                background-position: 14px center;
                transition: all $vitesseAnimationRapide $easingAnimationZinzin;
            }
        }
    }
}

/* STYLE LIGHT ==> CE STYLE EST OBSOLETE */
.TableauLight.xxTableauDivPrincipal .xxTableau {
    border-bottom: 0;
    font-family: "firen_like";
    font-size: 13px;
    border: 1px solid #D5D5D5;

        td, th {
            border-bottom: 1px solid #E5E5E5;
            border-right: none;
            line-height: 1rem;
        }

        th {
            padding: 0 3px;
        }

        .xxTableauHeader {

            th {
                border-bottom: 1px solid #ccc;
            }

            td, th, th .xxLabel {
                @include MainCouleur(color,1,50,50);
                background: #F7F7F7;
                font-weight: normal;
                line-height: 1rem;
            }

            .xxbouton span.iconeP12 {
                @include MainCouleur(color,1,50,50);
                font-weight: normal;
                text-decoration: underline;
            }
        }

        td.xxTableauGroup {
            font-size: 11px;
            margin-top: 20px;
            font-style: italic;
            background: white;
            color: #797979;
            font-weight: normal;

            .xxLabel {
                font-weight: normal;
                color: #797979;
                padding: 20px 0 5px;
                display: flex;
            }
        }

        .xxTableauItem:nth-child(even) {
            background: white;
        }
        /*  .xxCheckbox.disabled.xxchecked .xxCheckboxIcone {
        background-color: transparent;
        border: none;
        filter: saturate(0);
    }*/
    }